<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" skipfailedinvocationcounts="true" thread-count="22" data-provider-thread-count="10">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!--        <listener class-name="helpers.factories.AllureLogListener"/>-->
    </listeners>
    <test name="Smoke Tests">
        <classes>
        </classes>
    </test>
</suite>